<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>

    <div class= "rr">
            <a href="/login"><button type = "button" class = "button">ADMIN</button></a>
            <a href="/register"><button type = "button" class = "button">NEW USER</button></a>
            <a href="/booksearch"><button type = "button" class = "button">BOOK SEARCH </button></a>
            <a href="/bookissue"><button type = "button" class = "button">BOOK ISSUE</button></a>
    </div>

 
</body>
</html>
